
__pycache__/
*.py[cod]
*$py.class


venv/
env/
ENV/


.env


.streamlit/secrets.toml


*.db
database/*.db

vector_db/
*.index
*.faiss

*.log


.ipynb_checkpoints/


.DS_Store
Thumbs.db


.vscode/
.idea/


build/
dist/
*.egg-info/


.cache/
.pytest_cache/


users.db
database/users.db